.container {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  position: fixed; 
  top: 0;
  left: 0;
  background-color: black;
  overflow: hidden; 
}

.weather {
  width: 380px;
  padding: 30px;
  border-radius: 10px;
  margin: auto;
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  color: white;
  background: linear-gradient(90deg, rgba(22, 76, 133, 1) 0%, rgba(33, 162, 201, 1) 64%);
  overflow: auto;
}

.search {
    width: 100p;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    border:none;
    outline: 0;
    padding: 10px 25px;
    font-size: 18px;
    background-color: antiquewhite;
    color: black;
    border-radius: 30px;
    flex: 1;
    margin-right: 12px;
}
.search button {
    border: none;
    outline: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer
}
.search button img {
    width: 20px; 
    height: auto; 
  }
  .winfo img {
    width: 200px; 
    height: auto; 
  }
  .winfo .icon {
    margin-top: 20px;
    width: 170px;

  }
  .winfo h1 {
    font-size: 70px;
    font-weight: 500;
    margin-top: 5px;
    
  }
  .winfo h2 {
    font-size: 40px;
    font-weight: 400;
    margin-top: -40px;
    
  }
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
  }
  .details .col {
    display: flex;
    align-items: center;
    text-align: left;
  }
  .details .col img {
    width: 50px;
    margin-right: 10px;
  }
  .humidity, .wind  {
    font-size: 20px;

  }
  .humidity p , .wind p {
    margin: 0px;
  }
  .error {
    color: rgba(238,85,85);
    text-align: left;
    margin-left: 10px;
  }
 

